body {
  background-color: black;
  background-image: url("../theeaglesbw.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 350px 70px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

a {
  text-decoration: none;
  color:red;
}

a:hover{
  color:gray;
}

.anchored-content
{
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'MERegular', sans-serif;
}

.header {
  font-size: 18px;
  font-family: 'MEBold', sans-serif;
  letter-spacing: 1px;
  line-height: 20px;
  color: white;
}

.sub-header{
  font-size: 14px;
  font-family: 'MERegular', sans-serif;
  color: white;
}

.nav {
  font-family: 'MEBoldItalic', sans-serif;
  line-height: 29px;
  font-size: 18px;
  margin-bottom: 77px;
  letter-spacing: 1px;
}

.content-container {
  font-size: 16px;
  margin-bottom: 77px;
  color: lightgrey;
}

.content-section {
  font-family: 'MEBold', sans-serif;
  font-style: italic;
  letter-spacing: 3px;
  color: lightgrey;
  margin-bottom: -50px;
}

.content-header{
  font-family: 'MEBold', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: whitesmoke;
}

.content-subheader{
  font-size: 14px;
  color: dimgrey;
}

.about-profile{
  margin-bottom: 77px;
}

.index-embeds {
  width: 560px;
}

.art-embeds{
  width: 500px;
}

.art-embeds-fill {
    width: 500px;
}

.youtube-embeds-fill
{
    height: 100%;
    width: 100%;
    aspect-ratio: 1.77777777778;
}

@font-face {
    font-family: MonoBold;
    src: url('../fonts/ModernEraMonoTRIAL-Bold.otf');
}

@font-face {
    font-family: MonoExtraBold;
    src: url('../fonts/ModernEraMonoTRIAL-ExtraBold.otf');
}

@font-face {
    font-family: MonoMedium;
    src: url('../fonts/ModernEraMonoTRIAL-Medium.otf');
}

@font-face {
    font-family: MonoRegular;
    src: url('../fonts/ModernEraMonoTRIAL-Regular.otf');
}

@font-face {
    font-family: MERegular;
    src: url('../fonts/ModernEraTRIAL-Regular.otf');
}

@font-face {
    font-family: MEItalic;
    src: url('../fonts/ModernEraTRIAL-Italic.otf');
}

@font-face {
    font-family: MEBlack;
    src: url('../fonts/ModernEraTRIAL-Black.otf');
}

@font-face {
    font-family: MEBoldItalic;
    src: url('../fonts/ModernEraTRIAL-BoldItalic.otf');
}

@font-face {
    font-family: MEBold;
    src: url('../fonts/ModernEraTRIAL-Bold.otf');
}

@font-face {
    font-family: VeraMono;
    src: url('../fonts/VeraMono.ttf');
}

@font-face {
    font-family: VeraMonoBoldItalic;
    src: url('../fonts/VeraMono-Bold-Italic.ttf');
}

@font-face {
    font-family: VeraMonoBold;
    src: url('../fonts/VeraMono-Bold.ttf');
}

@media only screen and (min-width: 1101px)
{
    .anchored-content {
        width: 700px;
    }

    .art-embeds-fill{
        width: 700px;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        background-position: 275px 70px;
    }

    .anchored-content {
        margin-left: 100px;
        margin-right: 200px;
    }

    .art-embeds-fill {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background-position: 225px 70px;
    }

    .anchored-content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .index-embeds{
        width: 100%;
    }

    .about-profile{
        max-width: 100%;
        height: auto;
    }

    .art-embeds{
      width: 100%;
    }

    .art-embeds-fill{
      width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-position: 100px 70px;
    }
}
